.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: rgb(167, 217, 158);
 } 
.table-striped>tbody>tr:nth-child(even)>td {
   background-color: rgb(116, 163, 108);
 }
 .bi{
    vertical-align: 5px;
    float: right;
    height: 25px;
 }
 .btn{
    padding: 0%;
 }
.vertical-class-container{
    display: grid;
    place-items: center;
    float: right;
 }
 .bi-hand-thumbs-up-fill{
    color: white;
 }
.bi-hand-thumbs-down-fill, .bi-hand-thumbs-down-fill:hover, .bi-hand-thumbs-down-fill:focus {
    color:black;
}