.menu-title {
    display: inline-block;
    font-size: 30pt;
    font-family: "Karla Bold";
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #05A85C;
    width: 100%;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    align-content: center;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    border: 2px solid #05A85C;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 5%;
    margin: auto;
    width: 50%;
    text-align: center;
}

.title {
    text-align: center;
    color: #05A85C; /* Green text color */
    font-size: 40px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add margin at the bottom */
}

.form-group {
    margin-bottom: 15px; /* Add margin at the bottom */
}

.activity-label, .goal-label, .preference-label, .allergen-label {
    font-family: "Karla";
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 0;
}

.form-group .block-label {
    display: block; /* Ensure the label is on its own line */
    margin-bottom: 5px; /* Add margin between label and input */
    text-align: left;
    font-size: 12pt;
    margin-left: 0;
}

.form-group .inline-label {
    display: inline-block; /* Ensure the label is on its own line */
    margin-bottom: 5px; /* Add margin between label and input */
    text-align: left;
    font-size: 12pt;
    margin-left: 0;
}

.form-group input {
    width: 100%; /* Take up full width of the container */
    padding: 8px; /* Padding for better appearance */
    border: 1px solid #dddddd; /* Grey border */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in total width */
}

.sex-buttons {
    display: flex;
    gap: 10px;
}

.sex-option {
    /* Change button styles */
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #ffffff;
    color: #05A85C;
    border: 1px solid #05A85C;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sex-option:hover {
    background-color: #05A85C;
    color: #fff;
}

.sex-option.active {
    /* Styles for Male button when clicked */
    background-color: #05A85C;
    color: #ffffff;
    border-color: #05A85C;
}

.sex-option.female {
    /* Styles for Female button when clicked */
    background-color: #ff00ff;
    color: #ffffff;
    border-color: #ff00ff;
}

.sex-option.rather_not_say {
    /* Styles for Rather not say button when clicked */
    background-color: #ff0000;
    color: #ffffff;
    border-color: #ff0000;
}

.input-with-unit {
    display: inline-block;
}

.input-with-unit input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px 0 0 5px;
}

.unit {
    background-color: #cccccc;
    padding: 8px;
    border-top: 0.5px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
}

.activity-buttons .unactive, .goal-buttons .unactive, .preference-buttons .unactive, .allergen-buttons .unactive, .activity-buttons .active, .goal-buttons .active, .preference-buttons .active, .allergen-buttons .active {
    width: 239px;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #05A85C;
    border: 1px solid #05A85C;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.activity-buttons .active, .goal-buttons .active, .preference-buttons .active , .allergen-buttons .active {
    background-color: #05A85C;
    color: #ffffff;
}

.activity-buttons .unactive:hover, .goal-buttons .unactive:hover, .preference-buttons .unactive:hover , .allergen-buttons .unactive:hover {
    background-color: #05A85C;
    color: #ffffff;
}

.activity-buttons .unactive:hover .activity-description, .goal-buttons .unactive:hover .activity-description, .preference-buttons .unactive:hover .activity-description, .allergen-buttons .unactive:hover .activity-description {
    color: #fff;
}

.moderate-activity {
    margin-left: 10px;
    margin-right: 10px;
}

.maintaining-goal {
    margin-left: 15px;
    margin-right: 15px;
}

.vegan-pref {
    margin-left: 10px;
    margin-right: 10px;
}

.unactive .activity-description {
    font-size: 12px;
    color: #777777;
    transition: background-color 0.3s, color 0.3s;
}

.active .activity-description {
    font-size: 12px;
    color: #ffffff;
    transition: 0.3s;
}

.buttons-container {
    text-align: center; /* Center the buttons */
    margin-top: 30px; /* Add margin to separate from the content */
}

#submitButton, #resetButton {
    font-family: "Karla";
    background-color: #05A85C; /* Green background */
    color: #ffffff; /* White text color */
    border: 2px solid #05A85C; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 16px; /* Padding for better appearance */
    font-size: 12pt;
    cursor: pointer;
}

#resetButton {
    background: #fff;   
    border: 2px solid #05A85C; /* No border */
    color: #05A85C;
    margin-right: 20px;
    cursor: pointer;
}

.select-goal-container {
    text-align: center;
    margin-top: 20px;
}

.select-goal-container label {
    color: #05A85C;
    font-weight: bold;
}

.goal-buttons {
    margin-top: 10px;
    display: flex;
}

.goal-button {
    flex: 1;
    border: 2px solid #05A85C;
    border-radius: 10px;
    background-color: white;
    color: #05A85C;
    padding: 10px;
    cursor: pointer;
}

.goal-button:not(:last-child) {
    margin-right: -2px; /* Adjust for the borders to eliminate spacing */
}

.goal-button:hover {
    background-color: #05A85C;
    color: white;
}

.goal-button.selected {
    background-color: A#05A85C;
    color: white;
}

#bulkButton {
    border-radius: 10px 0 0 10px;
}

#cutButton {
    border-radius: 0;
}

#maintainButton {
    border-radius: 0 10px 10px 0;
}

#age {
    display: inline-block;
    width: 204px;
    border-radius: 5px;
    margin-right: 10px;
}

#height {
    display: inline-block;
    width: 137px;
}

#weight {
    display: inline-block;
    width: 140px;
}

.inline-group {
    display: inline-block;
}

input:focus {
    outline: none;
}

.form-data {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    height: 37px;
}

#age-group {
    position: absolute;
    top: 0;
    left: 0px;
}

#height-group {
    position: absolute;
    top: 0px;
    left: 255px;;
}

#weight-group {
    position: absolute;
    top: 0px;
    right: 0px;
}

label, input, button {
    font-family: Karla
}

.form-group select[multiple] {
    width: 100%; /* Full width */
    padding: 8px; /* Padding similar to other input fields */
    border: 1px solid #dddddd; /* Grey border, similar to other input fields */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in total width */
    font-family: Arial, sans-serif; /* Consistent font family */
    font-size: 12pt; /* Similar font size to other inputs */
    background-color: #ffffff; /* White background */
    margin-bottom: 15px; /* Spacing below the select box */
    cursor: pointer; /* Cursor to indicate it's clickable */
}

.form-group select[multiple]:focus {
    outline: none; /* Remove default focus outline */
    border-color: #05A85C; /* Change border color on focus, similar to the theme color */
}
