<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An economical way to ace economics!" />
    <meta property="og:title" content="Campus Crunch">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An economical way to ace economics!" />
    <meta property="og:url" content="http://campuscrunch.co" />
    <meta property="og:site_name" content="Campus Crunch" />
    <meta property="og:image" content="http://campuscrunch.co/images/card.jpeg" />

    <link rel="icon" href="/static/img/logo-original.png" type="image/png" />
    <title>Campus Crunch</title>
    <link rel="stylesheet" href="/static/css/ripple.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  </head>
  <body>
    <div id="menu-background"></div>
    <button id="short-menu-close" class="material-icons">close</button>
    <div class="nav-holder"></div>
    <div id='nav'>
      <div id="nav-align">
        <div id="title">
          <a href="/">
            <button class="ripple-brand brand">
              <div id="logo"></div>
              <div id="name">
                <div id="nametitle"></div>
              </div>
            </button>
          </a>
        </div>
        <ul class="topnav">
            <li><a href="/"><button class="ripple-yellow">Diet Generator</button></a></li>
            <li><a href="/menus/"><button class="ripple-yellow">Menus</button></a></li>
        </ul>
        {% if session %}
        <ul class="account-topnav" style="float: right">
          <li id="nav-profile-li">
            <div class="dropdown">
              <button onclick="showProfileDropDown()" id="profile-dropbutton" class="ripple-yellow nav-ripple-white dropbtn"><span class="material-icons-outlined">account_circle</span></button>
              <div id="profile-dropdown-content" class="dropdown-content">
                <a href="/settings/" class="ripple-dark" id="dropdown-link-settings">Settings</a>
                <a href="/logout/" class="ripple-dark" id="dropdown-link-logout">Logout</a>
              </div>
            </div>
          </li>
        </ul>
        {% else %}
        <ul class="topnav" style="float: right">
          <li id="nav-join-li"><a href="/join/"><button id="open-join-menu" class="ripple-yellow nav-ripple-white">Join</button></a></li>
          <li id="nav-login-li"><a href="/login/"><button id="open-login-menu" class="ripple-yellow nav-ripple-white">Login</button></a></li>
        </ul>
        {% endif %}
        <ul class="short-topnav" style="float: right">
          <li><button id="topnav-menu" class="ripple-yellow material-icons-outlined menu">Menus</button></li>
        </ul>
      </div>
      <div id="short-menu" class="pop-up-menu">
        <div id="short-menu-reference">
          <div class="short-menu-links">
              <a href="/"><button class="ripple-yellow short-menu-link">Diet Generator</button></a>
              <a href="/menus/"><button class="ripple-yellow short-menu-link">Menus</button></a>
          </div>
          <div class="short-menu-links" id="bottom-short-menu-links">
            <a href="/join/"><button id="open-short-join-menu" class="ripple-yellow short-menu-link">Join</button></a>
            <a href="/login/"><button id="open-short-login-menu" class="ripple-yellow short-menu-link">Login</button></a>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/header.js"></script>

    <div id="slide-1">
      <div class="container" id="container">
        <div class="slide-left" id="slide-left">
          <div class="index-topic">About Campus Crunch</div>
          <div class="index-body">CampusCrunch is your culinary compass at Purdue, transforming the way students dine on campus. It's a smart meal generator that curates dining hall menus to your tastes and nutritional needs, tailoring every meal into an adventure of flavor and health. With CampusCrunch, experience the joy of effortless, varied, and delicious dining at your fingertips – because at Purdue, every meal should be as dynamic as your campus life. Boiler up, chow down!</div>
        </div>
        <img src="https://sanjayrajawat.com/images/index/laptop_up_top.png" width="420px">
      </div>
    </div>
    <div id="slide-2">
      <div class="container">
        <div class="slide-right">
          <div class="index-topic">Our Story</div>
          <div class="index-body">As a group of health-conscious students at Purdue, we found ourselves caught between the limited choices of dining hall foods – either repetitive salads or unhealthy options. Seeking a middle ground, we developed CampusCrunch. This tool is our solution for students like us, aiming to create meals that are both nutritious and satisfying, aligned with various dietary needs and health goals. It's about making every meal at Purdue a balanced and enjoyable experience.</div>
        </div>
        <img src="https://sanjayrajawat.com/images/index/topic_quizzes.png" width="400px">
      </div>
    </div>
    <div id="slide-3">
      <div class="container">
        <div class="slide-left">
          <div class="index-topic">What We Offer</div>
          <div class="index-body">Our tool is designed with a deep understanding of the varied dietary needs of students. Whether you're vegan, following a gluten-free diet, have calorie or macro goals, or are focused on high-protein foods for fitness, CampusCrunch will curate meals that suit your specific requirements. We integrate nutritional information, including calorie counts and macronutrient breakdowns, allowing you to make informed choices that align with your health and wellness goals.</div>
        </div>
        <img src="https://sanjayrajawat.com/images/index/revision_notes.png" width="385px">
      </div>
    </div>
    <div id="slide-4">
      <div class="container">
        <div class="index-topic">Our Team</div>
        <div class="team-members">
          <div class="team-member">
              <img src="/static/img/yohaan.jpeg" alt="Yohaan Chokhany" class="team-photo">
              <h3>Yohaan Chokhany</h3>
          </div>
          <div class="team-member">
              <img src="/static/img/jumani.jpeg" alt="Aryan Jumani" class="team-photo">
              <h3>Aryan Jumani</h3>
          </div>
          <div class="team-member">
              <img src="/static/img/piya.png" alt="Piya Saxena" class="team-photo">
              <h3>Piya Saxena</h3>
          </div>
          <div class="team-member">
              <img src="/static/img/annsh.png" alt="Annsh Navle" class="team-photo">
              <h3>Annsh Navle</h3>
          </div>
        </div>
      </div>
    </div>
    <div id="slide-5">
      <div class="container">
        <div class="slide-right">
          <div class="index-topic">Our Commitment</div>
          <div class="index-body">We're committed to providing Purdue students with delicious, nutritious, and easily accessible meal options. We strive to make every meal at Purdue a balanced and enjoyable experience for everyone. If you have any suggestions or feedback, please feel free to navigate to the Contact Us section at the bottom.</div>
        </div>
        <img src="https://sanjayrajawat.com/images/index/revision_notes.png" width="385px">
      </div>
    </div>

    <div id="footer-offset-calculator"></div>
    <div class="footer" id="footer">
      <div class="footer-links">
        <div class="footer-section left">
          <div class="footer-subtitle">Resources</div>
          <a href="/" class="footer-link">Home</a>
          <a href="/" class="footer-link">Diet Generator</a>
          <a href="/menus/" class="footer-link">Menus</a>
        </div>
        <div class="footer-section centre">
          <div class="footer-subtitle">Members</div>
          <a href="/join/" class="footer-link">Join</a>
          <a href="/login/" class="footer-link">Login</a>
          <a href="/settings/" class="footer-link">Settings</a>
        </div>
        <div class="footer-section right">
          <div class="footer-subtitle">About</div>
          <a href="/about-us/" class="footer-link">About Us</a>
        </div>
      </div>
      <div id="footer-credit" class="footer-credit" style="height: 20px"></div>
    </div>

    <script src="/static/js/footer.js"></script>
    <script src="/static/js/ripple.js"></script>
  </body>
</html>
