<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An economical way to ace economics!" />
    <meta property="og:title" content="Campus Crunch">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An economical way to ace economics!" />
    <meta property="og:url" content="http://campuscrunch.co" />
    <meta property="og:site_name" content="Campus Crunch" />
    <meta property="og:image" content="http://campuscrunch.co/images/card.jpeg" />

    <link rel="icon" href="/static/img/logo-original.png" type="image/png" />
    <title>Campus Crunch</title>
    <link rel="stylesheet" href="/static/css/ripple.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  </head>
  <body>
    <div id="menu-background"></div>
    <button id="short-menu-close" class="material-icons">close</button>
    <div class="nav-holder"></div>
    <div id='nav'>
      <div id="nav-align">
        <div id="title">
          <a href="/">
            <button class="ripple-brand brand">
              <div id="logo"></div>
              <div id="name">
                <div id="nametitle"></div>
              </div>
            </button>
          </a>
        </div>
        <ul class="topnav">
            <li><a href="/"><button class="ripple-yellow">Diet Generator</button></a></li>
            <li><a href="/menus/"><button class="ripple-yellow">Menus</button></a></li>
        </ul>
        {% if session %}
        <ul class="account-topnav" style="float: right">
          <li id="nav-profile-li">
            <div class="dropdown">
              <button onclick="showProfileDropDown()" id="profile-dropbutton" class="ripple-yellow nav-ripple-white dropbtn"><span class="material-icons-outlined">account_circle</span></button>
              <div id="profile-dropdown-content" class="dropdown-content">
                <a href="/settings/" class="ripple-dark" id="dropdown-link-settings">Settings</a>
                <a href="/logout/" class="ripple-dark" id="dropdown-link-logout">Logout</a>
              </div>
            </div>
          </li>
        </ul>
        {% else %}
        <ul class="topnav" style="float: right">
          <li id="nav-join-li"><a href="/join/"><button id="open-join-menu" class="ripple-yellow nav-ripple-white">Join</button></a></li>
          <li id="nav-login-li"><a href="/login/"><button id="open-login-menu" class="ripple-yellow nav-ripple-white">Login</button></a></li>
        </ul>
        {% endif %}
        <ul class="short-topnav" style="float: right">
          <li><button id="topnav-menu" class="ripple-yellow material-icons-outlined menu">Menus</button></li>
        </ul>
      </div>
      <div id="short-menu" class="pop-up-menu">
        <div id="short-menu-reference">
          <div class="short-menu-links">
              <a href="/"><button class="ripple-yellow short-menu-link">Diet Generator</button></a>
              <a href="/menus/"><button class="ripple-yellow short-menu-link">Menus</button></a>
          </div>
          <div class="short-menu-links" id="bottom-short-menu-links">
            <a href="/join/"><button id="open-short-join-menu" class="ripple-yellow short-menu-link">Join</button></a>
            <a href="/login/"><button id="open-short-login-menu" class="ripple-yellow short-menu-link">Login</button></a>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/header.js"></script>


    <div id="footer-offset-calculator"></div>
    <div class="footer" id="footer">
      <div class="footer-links">
        <div class="footer-section left">
          <div class="footer-subtitle">Resources</div>
          <a href="/" class="footer-link">Home</a>
          <a href="/" class="footer-link">Diet Generator</a>
          <a href="/menus/" class="footer-link">Menus</a>
        </div>
        <div class="footer-section centre">
          <div class="footer-subtitle">Members</div>
          <a href="/join/" class="footer-link">Join</a>
          <a href="/login/" class="footer-link">Login</a>
          <a href="/settings/" class="footer-link">Settings</a>
        </div>
        <div class="footer-section right">
          <div class="footer-subtitle">About</div>
          <a href="/about-us/" class="footer-link">About Us</a>
        </div>
      </div>
      <div id="footer-credit" class="footer-credit" style="height: 20px"></div>
    </div>

    <script src="/static/js/footer.js"></script>
    <script src="/static/js/ripple.js"></script>
  </body>
</html>

